@import url(http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);
header.main {
  width: 20%;
  height: 100%;
  line-height: 100%;
  font-family: 'Roboto', sans-serif;
  margin-top: 200px;
  position: fixed;
  top: 0;
  left: 0; }
  header.main h1.title {
    text-align: center;
    font-size: 2vw; }
  header.main nav.menu {
    position: absolute;
    top: 50%;
    margin-top: -2.25em;
    display: inline-block;
    vertical-align: middle; }
    header.main nav.menu ul {
      list-style: none;
      margin: 0;
      padding-left: 3em; }
      header.main nav.menu ul li {
        line-height: 1.5em; }
        header.main nav.menu ul li a {
          color: #222244;
          text-decoration: none;
          font-weight: bold; }

main {
  margin-top: 200px;
  margin-left: 20%; }
  main img {
    max-width: 100%; }
  main article.post .post-title {
    font-family: 'Roboto', sans-serif; }
    main article.post .post-title a, main article.post .post-title a:hover {
      text-decoration: none;
      color: #222244; }
  main article.post ul.post-meta {
    list-style: none;
    margin: 0; }
    main article.post ul.post-meta li {
      display: inline-block;
      border-right: 1px solid #dddddd; }
      main article.post ul.post-meta li:last-child {
        border: none; }
  main article.post .post-content {
    font-family: 'Roboto Slab', serif; }

#red {
  position: absolute;
  display: block;
  width: 100px;
  height: 400px;
  top: -500px;
  left: 200px;
  background-color: rgba(207, 0, 20, 0.75);
  border: 1px solid rgba(207, 0, 20, 0.8);
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  z-index: 100; }

#blue {
  position: absolute;
  display: block;
  width: 100px;
  height: 400px;
  top: -505px;
  left: 225px;
  background-color: rgba(0, 3, 207, 0.75);
  border: 1px solid rgba(0, 3, 207, 0.8);
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  z-index: 100; }
